alabaster==0.7.8
astroid==2.3.3
attrs==19.3.0
Babel==2.6.0
backcall==0.1.0
flask==2.0.2
bleach==3.1.1
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
Click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
configobj==5.0.6
cryptography==2.8
decorator==4.4.2
defusedxml==0.6.0
distro==1.4.0
docutils==0.16
entrypoints==0.3
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
imagesize==1.2.0
IMDbPY==6.8
importlib-metadata==1.5.0
inflection==0.5.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.15.2
Jinja2==3.0
joblib==1.1.0
jsonschema==3.2.0
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
logilab-common==1.4.3
louis==1.3
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.0.0rc2
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==4.2.0
nbconvert==5.6.1
nbformat==5.0.4
netaddr==0.7.19
netifaces==0.10.4
numpy==1.21.4
numpydoc==0.7.0
oauthlib==3.1.0
packaging==20.3
PAM==0.2.0
pandas==1.3.5
pandocfilters==1.4.2
parso==0.5.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.6.1
psutil==5.5.1
Pygments==2.3.1
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyRFC3339==1.1
pyrsistent==0.15.5
pysvn==0.1.0
python-dateutil==2.7.3
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QtAwesome==1.1.1
qtconsole==4.6.0
QtPy==1.9.0
reportlab==3.5.34
requests==2.22.0
requests-file==1.4.3
requests-unixsocket==0.2.0
roman==2.0.0
rope==0.10.5
scikit-learn==1.0.1
scipy==1.7.3
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
sip==6.4.0
six==1.14.0
soupsieve==1.9.5
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.5.2
systemd-python==234
testpath==0.4.4
threadpoolctl==3.0.0
tinycss2==1.0.2
tldextract==2.2.1
tornado==5.1.1
traitlets==4.3.3
Unidecode==1.1.1
urllib3==1.25.8
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
wrapt==1.11.2
xgboost==0.90
zipp==1.0.0
